<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="../../../assets/img/misc/logo.png" alt="logo etna vidraçaria">
      <small class="d-block mb-3 text-body-secondary">© {{founderDate.getFullYear()}}–{{today.getFullYear()}}</small>
    </div>
    <div class="col-6 col-md">
      <h5>Nosso canais</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" href="tel:(21) 3361-0030"><i
              class="bi bi-whatsapp me-1"></i>(21)
            3361-0030</a></li>
        <li><a class="link-secondary text-decoration-none" href="tel:(21)2473-0325"><i class="bi bi-telephone me-1"></i>
            (21)2473-0325</a></li>
        <li><a class="link-secondary text-decoration-none" href="mailto:etnavidros@hotmail.com"><i
              class="bi bi-envelope me-1"></i> {{'etnavidros@hotmail.com'}}</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Mídias sociais</h5>
      <ul class="nav justify-content-start list-unstyled d-flex">
        <li><a class="text-body-secondary" href="https://www.instagram.com/etnavidros/" target="_blank"
            title="Instagram Etna Vidros"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/etna-vidros/" target="_blank"
            title="LinkedIn Etna Vidros"><i class="bi bi-linkedin"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#" target="_blank"><i class="bi bi-facebook"></i></a></li>
      </ul>
    </div>

    <div class="col-6 col-md">
      <h5>Créditos</h5>
      <a class="link-secondary text-decoration-none fs-6"
        href="https://br.freepik.com/fotos-gratis/bela-vista-de-um-lago-azul-capturada-do-interior-de-uma-villa_9931895.htm#query=porta%20vidro&position=46&from_view=keyword&track=ais&uuid=3a0aa0ca-8de0-4982-88e0-493edb55b1d5">Imagem
        de wirestock</a> no Freepik
    </div>
  </div>

</footer>