<nav style="background-color: #fff" class="navbar navbar-expand-lg sticky-top navbar-light bg-gradient py-3">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" [routerLink]="['/pagina-inicial']"><img class="img-fluid"
        src="../../../assets/img/misc/logo.png" alt="logotipo etna vidraçaria" /></a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list" style="font-size: 3rem"></i>
    </button>
    <div class="offcanvas offcanvas-end w-100 border-primary border-5 d-flex justify-content-end" id="navbarNav">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item d-md-none d-sm-block">
            <a class="navbar-brand" [routerLink]="['/pagina-inicial']"><img class="img-fluid"
                src="../../../assets/img/misc/logo.png" alt="logotipo etna vidraçaria" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-primary fw-medium" aria-current="page" [routerLink]="['/pagina-inicial']"
              routerLinkActive="active">Pagina inicial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-primary fw-medium" [routerLink]="['/sobre-nos']" routerLinkActive="active">Sobre
              nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-primary fw-medium" [routerLink]="['/produtos']"
              routerLinkActive="active">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-primary fw-medium" [routerLink]="['/contato']" routerLinkActive="active">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>