<nav class="navbar navbar-expand-lg navbar-light mb-5">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" alt="logo etna vidraçaria"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav  ">
        <li class="nav-item">
          <a class="nav-link link-primary fw-medium" aria-current="page" [routerLink]="['/pagina-inicial']" routerLinkActive="active" >Pagina inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  link-primary fw-medium" [routerLink]="['/sobre-nos']" routerLinkActive="active">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  link-primary fw-medium"  [routerLink]="['/produtos']" routerLinkActive="active">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  link-primary fw-medium" [routerLink]="['/contato']" routerLinkActive="active">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
