<main class="d-flex flex-fill bg-black">
  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/karen-uppal-TLjNPAz6d4g-unsplash.jpg" class="d-block w-100" alt="imagem carrossel">
        <div class="carousel-caption d-none  d-md-block w-50 rounded efeito-vidro">
          <h5 class="fw-bold display-4 w-75" style="color: #13184b;">Solicite um orçamento sem compromisso!</h5>
          <div class="d-flex gap-3 p-5 lead fw-normal mx-auto text-center">
            <a class="icon-link" href="#">
              Buy
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
