.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.bg-custom {
  background-image: url("../../../assets/img/misc/bela-vista-de-um-lago-azul-capturada-do-interior-de-uma-villa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.background-blend-custom {
  background-color: #002a66;
  background-blend-mode: overlay;
  background-size: cover;
}

.marcas img[src] {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.9s ease-out;
}
.marcas img:hover {
  opacity: 1;
  transition: all 0.9s ease-out;
}
