<div style="background-color: #f3f2f2;">
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Sobre nós</h2>

    <div class="row py-5">
      <div class="col-6 p-2">
        <img src="assets/img/misc/cortina-de-vidro.jpg" class="img-fluid rounded" alt="cortina de vidro de vidraçaria">
      </div>
      <div class="col-6">
        <p>
          Desde 1999, a Vidraçaria Etna se dedica a oferecer soluções completas em vidros e espelhos para o Rio de
          Janeiro.
          Localizada na Avenida Monsenhor Félix, 905 - Loja B, em Irajá, nossa missão é atender às suas necessidades com
          excelência, qualidade e um atendimento personalizado.</p>

        <em class="fw-bold">Mais do que produtos:</em>

        <ul>
          <li>Especialistas em vidros e espelhos: Oferecemos uma ampla gama de produtos, desde vidros simples até
            soluções sob medida para projetos residenciais e comerciais.</li>
          <li>Mão de obra qualificada: Nossa equipe experiente garante um serviço impecável, desde a escolha do
            material ideal até a instalação final.</li>
          <li>Atendimento personalizado: Acreditamos que cada cliente é único. Por isso, nos dedicamos a entender
            suas necessidades e expectativas para oferecer a solução perfeita.</li>
          <li>Agilidade e confiabilidade: Valorizamos o seu tempo e garantimos prazos flexíveis e um serviço
            confiável para que você tenha tranquilidade total.</li>
        </ul>

        <em class="fw-bold">Na Vidraçaria Etna, você encontra:</em>


        <ul>
          <li>Vidros temperados e laminados: Segurança e resistência para áreas com maior risco de impacto.</li>
          <li>Espelhos sob medida: Decoração e amplitude para todos os ambientes.</li>
          <li>Box de banheiro: Design moderno e funcional para o seu banheiro.</li>
          <li>Portas de vidro: Sofisticação e praticidade para sua casa ou empresa.</li>
          <li>Peças sob encomenda: Vidros e espelhos personalizados para projetos especiais.</li>
        </ul>


        <em class="fw-bold">Somos referência em atendimento e qualidade:</em>

        <ul>
          <li>Clientes satisfeitos: Nossa reputação é construída na confiança de nossos clientes.</li>
          <li>Credibilidade: Mais de duas décadas de experiência no mercado.</li>
          <li>Rapidez: Agilidade na entrega e instalação dos serviços.</li>
          <li>Confiança: Compromisso com a qualidade e a satisfação do cliente.</li>
          <li>Vidraçaria Etna: A solução completa para suas necessidades em vidros e espelhos.</li>
        </ul>
        <h5>Solicite um orçamento sem compromisso!</h5>
      </div>
    </div>
  </div>
</div>